* {box-sizing: border-box;
}

h1 {margin-top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
header {
    align-items: left;
    height: 100%;
    width: 70%;
    margin: auto;
}
header img {
    height: 500px;
    width:100%;
    padding: 10px;
}
header h1{
    text-transform: uppercase;
}
img {
    width: 80%;
    padding: 10px;
}

body {
    margin: 0;
    display: flex;
}

main {
    width: 90%;
    margin: 0 auto;
}

#restaurantes {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item {
    width: 30%;
}

main a {
    background-color: rgb(127, 127, 210);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: white;
    height: 45px;
    width: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
}
main a:hover {
    background-color: rgb(104, 54, 243);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: white;
    display: inline-block;
    height: 45px;
    width: 35%;
    text-align: center;
    text-decoration: none;
    border: 2px solid #ccc;
    padding: 10px 20px;
    border-radius: 20px;
}

#contacto {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
}

#contacto div {
    flex: 1;
}

#contacto img {
    width: 80%; 
}

#adicional {
   display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    margin: 50px auto;
}
.info, .criterio, .mapa {
    flex: 1;
    padding: 10px;
.mapa h1 {
    margin-bottom: 20px;
}
.mapa a{
    background-color: rgb(128, 89, 255);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: white;
    display: inline-block;
    height: 30px;
    width: 70;
    text-align: center; 
    text-decoration: none;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    border: 2px solid #ccc;
}
.mapa a:hover{
   background-color: rgb(104, 54, 243);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    color: white;
    height:50px;
    width:75;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #ccc;
}
footer {
    background-color: #a3a3a3;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}
    @media (max-width: 992px) {
    #contacto {
        gap: 10px;
    }

    .item {
        width: 45%;
    }

    main a {
        width: auto;
    }

    .info, .criterio, .mapa {
        flex: 1;
        text-align: center;
    }

    footer {
        padding: 20px;
        font-size: 1.2rem;
    }
}

@media (max-width: 780px) {
    #adicional {
        flex-direction: column;
        gap: 10px;
    }
}




