* {box-sizing: border-box;
}

h1 {margin-top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
}
header {
    align-items: left;
    margin: auto;
    height: 100%;
    width: 80%;
}
header h1{
    text-transform: uppercase;
}

header img {
    width:100%;
    height: 500px;
    padding: 10px;
}

img {
    width: 80%;
    padding: 10px;
}

body {
    margin: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

#restaurantes {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}

.item {
    width: 30%;
}

main a {
    background-color: rgb(127, 127, 210);
    color: white;
    display: inline-block;
    width: 30%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
main a:hover {
    background-color: rgb(104, 54, 243);
    color: white;
    display: inline-block;
    width: 35%;
    height: 45px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

#contacto {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
}

#contacto div {
    flex: 1;
}

#contacto img {
    width: 100%; 
}

#adicional {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content:space-between;
    align-items: stretch;
    gap: 40px;
}

.mapa h1 {
    margin-bottom: 20px;
}

.mapa h2 {
    margin-bottom: 10px;
}

.mapa p {
    color: #ffffff;
    line-height: 1.5;
}
.mapa a{
    background-color: rgb(128, 89, 255);
    color: white;
    display: inline-block;
    width: 70;
    height: 30px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    align-items: center;
    padding: 20px;
}
.mapa a:hover{
   background-color: rgb(104, 54, 243);
    color: white;
    display: inline-block;
    width:75;
    height:50px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

footer{
    background-color: aliceblue;
    width: 100%;
    height: 150px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #a3a3a3;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

@media (max-width: 992px) {
    #contacto {
       gap: 20px
    }
    .item{
        width: 45%;
    }

    #contacto img {
        max-width: 250px;
        margin: 0 auto;
    }

    main a {
        width: auto;
    }
}

@media (max-width: 768px) {
    #adicional {
        gap: 10px;
    }

    .info {
        flex: 1;
    }
}